page-game {


    
    .background{
        background-color:#ff6761;
    }

    .colorBtn{
         background-color:#01d6e0;
    }

    .colorBtn:hover{
        background-color: #fec901 !important;
    }
}