page-resultados {

    page-game {


    
    .background{
        background-color:#334FFF;

    }

    .colorBtn{
         background-color:#01d6e0;
    }

    .colorBtn:hover{
        background-color: #fec901 !important;
    }
}

}
